video { float: left; background: #333; border: 1px solid #999; width: 640px; height: 480px; }
textarea { float: left; background: #e1e11e1; border: 1px solid #999; width: 430px; height: 470px; padding: 5px; font-size: 16px; }
